{{> head}}
{{> navbar}}
    <div class="row">
        <div class="col-8">
            <h1>Nuestra pagina sobre los gatitos</h1>
        </div>
        <div class="col-4">
            <img src="/assets/img/gatitos.jpg" class="img-thumbnail">
        </div>
    </div>
{{> footer}}